.chatbox-body {
  padding: 2.5rem;
  height: 50vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .chatbox-body-messages {
    display: flex;
    flex-direction: column;
  }
  .chatbox-body-message-avatar {
    .bot {
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC5agYzc2iBtnuZCfnpXmVx61SRuJne7sFiA&usqp=CAU);
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
    .user {
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaogOAI7Ur1bKHyXn3RcCRLhV7Hd5fNn8CXG1lKaj7H_j0y1Ogid67e_3U_wViOIySRkY&usqp=CAU);
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }

    margin: 0.5rem;
  }
  .chatbox-body-reply-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    background-color: #f3e287;
    color: #000000;
    text-align: left;
    width: fit-content;
    max-width: 70%;
    border-radius: 10px;
    padding: 0 10px;
  }
  .chatbox-body-question-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-end;
    margin-bottom: 1rem;
    background-color: rgb(242, 140, 15);
    color: black;
    text-align: left;
    width: fit-content;
    max-width: 70%;
    border-radius: 10px;
    padding: 0 10px;
  }
}
