.chatbox-header {
  background-color: wheat;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  .chatbox-header-avatar {
    border-right: 1px solid #000;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chatbox-header-text {
    font-size: large;
  }
  .chatbox-header-close {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
